#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#include "combos.dtsi"

/* Planck's extra keys */
#define EXTRA_MID   &none &none  // 3x2 middle keys
#define EXTRA_BOT_L &none &none  // 1x2 bottom left keys
#define EXTRA_BOT_R &none &none  // 1x2 bottom right keys

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
     // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
          &kp Q         &kp W         &kp F         &kp P         &kp B             EXTRA_MID         &kp J         &kp L         &kp U         &kp Y         &kp SQT
     // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
          &mt LGUI A    &mt LALT R    &mt LCTRL S   &mt LSHFT T   &kp G             EXTRA_MID         &kp M         &mt RSHFT N   &mt LCTRL E   &mt LALT I    &mt LGUI O
     // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
          &kp Z         &kp X         &kp C         &kp D         &kp V             EXTRA_MID         &kp K         &kp H         &kp COMMA     &kp DOT       &kp SEMI
     // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
          EXTRA_BOT_L                 &kp ESC       &kp SPACE     &kp TAB           EXTRA_MID         &kp RET       &kp LSHFT     &kp BSPC                    EXTRA_BOT_R
     // ╰─────────────╯             ╰─────────────┴──── ────────┴─────────────╯   ╰─────────────╯   ╰─────────────┴─────────────┴─────────────╯             ╰─────────────╯
            >;
        };
    };
};
