#define CONFIG_WIRELESS
#define ZMK_BASE_LAYER(name, LT, RT, LM, RM, LB, RB, LH, RH)                                        \
    ZMK_LAYER(                                                                                                              \
        name,                                                                                                               \
                            &kp ESC     LT                                              RT  &no_ae                          \
                            &kp TAB     LM                                              RM  &no_oe                          \
                            &kp LSHFT   LB  &to 0   &none         &to QWERTY  &kp BKSP  RB  &kp SQT                         \
     &kp LGUI   &kp DEL     &kp BKSP    LH                                              RH  &smart_shft &kp TAB &kp C_MENU  \
    )
#define ZMK_ADDITIONAL_LAYER(name, LT, RT, LM, RM, LB, RB, LH, RH)                                        \
    ZMK_LAYER(                                                                                                              \
        name,                                                                                                               \
                            &kp ESC     LT                                              RT  &none                          \
                            &kp TAB     LM                                              RM  &none                          \
                            &kp LSHFT   LB  &to 0   &none        &to QWERTY  &kp BKSP   RB  &kp SQT                         \
     &kp LGUI   &kp DEL     &kp BKSP    LH                                              RH  &smart_shft &kp TAB &kp C_MENU  \
    )

#include "zmk-helpers/key-labels/kyria.h"
#include "base.keymap"
